# Database configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/[[.ProjectName]]_db?schema=public"

# Backend configuration
PORT=8080
JWT_SECRET="some-super-secret-jwt-key-minimum-32-chars"

# Frontend configuration
VITE_API_URL="http://localhost:8080/api"
