# Dependencies
node_modules/
.pnpm-store/

# Production outputs
dist/
build/
[[- if isFrontend "nextjs" ]]
.next/
out/
[[- end ]]
[[- if isFrontend "nuxt" ]]
.nuxt/
.output/
[[- end ]]
[[- if isFrontend "svelte" ]]
.svelte-kit/
[[- end ]]
[[- if isFrontend "astro" ]]
.astro/
[[- end ]]
[[- if isFrontend "native" ]]
.expo/
.expo-shared/
web-build/
[[- end ]]
[[- if isFrontend "react" ]]
.vite/
[[- end ]]

# Turborepo
.turbo/

# Environment variables
.env
.env*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
[[- if isBackend "fastapi" ]]

# Python
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.venv/
venv/
env/
[[- end ]]
[[- if isBackend "go_chi" ]]

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
[[- end ]]
[[- if hasDB "sqlite" ]]

# Database / SQLite
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-wal
*.db-shm
[[- end ]]
